<div th:replace="shared/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Usuarios do banco:</h1>
        <p class="mb-4">Formulario de Alteração de usuarios</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> Alterar Usuario: </h6>
            </div>
            <div class="card-body">
                <div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
                    <form class="row g-3" th:action="@{'/usuarios/alterar/' + ${user.id}}" method="post" onsubmit="alert('Alterado com sucesso!')">
                        <div class="col-md-6">
                                <input type="text" th:value="${user.name}" name="name" class="form-control form-control-user" placeholder="Nome Completo">
                        </div>
                        <div class="col-md-6">
                                <input type="text" th:value="${user.address}" name="address" class="form-control form-control-user" placeholder="Endereço">
                        </div>

                        <div class="col-md-6">
                            <input type="text" th:value="${user.email}" name="email" class="form-control form-control-user" placeholder="Email">
                        </div>

                        <div class="col-md-6">
                            <input type="text" th:value="${user.cpf}" name="cpf" class="form-control form-control-user" placeholder="CPF">
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" > Alterar </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div> </div>
<div th:replace="shared/footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>
